
body{
    background-color:rgb(89, 122, 151);
    text-align: center !important;
}
.container {
    background-color: rgb(182, 130, 63);
}
.container-fluid{
    text-align: center !important;
}
#weather-info{
    text-align: center !important;
    margin-left: 30% !important;
    color: white;
}
button{
   margin-top: 20px;
}
